.navbar{
    width: 90%;
    height: 50px;
    border: 1px solid black;
    margin: auto;
    
    background: powderblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.navbar>div{
    width: 100px;
    margin: 40px;
    font-size: 25px
    
}
.maindiv{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    border: 1px solid black;
    

}
img{
    width: 200px;
}
#box{
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
}
